.container {
  display: flex;
  flex-direction: column;
  padding: 25px;

  .name {
    color: var(--text);
    font-weight: 400;
    margin: 0 0 25px;
  }

  .wrapper {
    background-color: var(--background);
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 8px;
    border: 1px solid var(--background);
    transition: border-color 400ms ease;
    position: relative;


    &.active {
      border-color: var(--text);
    }

    &:last-child {
      margin-bottom: 0;
    }

    .header {
      display: flex;
    }

    .title {
      color: var(--text);
      font-weight: 300;
      font-size: 16px;
      line-height: 1.5;
      width: 100%;
    }


    .smartcontract {
      display: initial;

      .form {
        display: flex;
        flex-direction: column;

        .upload {
          display: flex;
          flex-direction: column;

          input[type=file]::file-selector-button {
            background-color: transparent;
            border: 1px solid var(--link);
            border-radius: 4px;
            color: var(--link);
            cursor: pointer;
            font-size: 12px;
            outline: none;
            padding: 8px 14px;
            transition: all .4s ease;
          }

          input[type=file]::file-selector-button:hover {
            background-color: var(--link);
            color: var(--black);
          }
        }

        .label {
          margin-bottom: 4px;
          font-size: 10px;
          color: var(--dark);
          font-weight: 300;
          line-height: 1;
          display: inline-block;
        }

        .field {
          border-radius: 8px;
          background-color: var(--body);
          margin-bottom: 4px;
          border: none;
          padding: 10px 15px;
          color: var(--text);
          font-weight: 300;
          flex: 1;

          &:focus {
            border: none;
            outline: none;
          }
        }

        textarea.field {
          resize: vertical;
          flex: none;
          min-height: 45px;
          margin-top: 1rem;

          &::-webkit-scrollbar {
            width: 3px;
          }

          &::-webkit-scrollbar-thumb {
            background: var(--link);
            border-radius: 10px;
          }
        }

        .error {
          color: #d9534f;
          font-size: 10px;
        }
      }

      .result {
        color: var(--text);
        margin-top: 10px;
        display: flex;
        align-items: center;

        strong {
          margin-right: 5px;
        }

        .value {
          max-width: 100%;
          word-break: break-all;
        }

        .copy {
          margin-left: 10px;

          path {
            fill: var(--text);
          }
        }
      }

      .buttons {
        display: flex;
        margin-top: 10px;
        align-items: center;

        .button {
          border: 1px solid var(--link);
          color: var(--link);
          font-size: 12px;
          padding: 8px 14px;
          border-radius: 4px;
          background-color: transparent;
          outline: none;
          transition: all 400ms ease;
          cursor: pointer;

          &:hover {
            color: var(--black);
            background-color: var(--link);
          }

          &:first-child {
            margin-right: 10px;
          }

          &.white:hover {
            color: var(--navigation);
          }

          &:disabled {
            opacity: .5;
            cursor: not-allowed;
            background-color: transparent;
            color: var(--link);
          }
        }
      }
    }
  }
}