.categories {
  padding: 25px;

  .category {
    margin-bottom: 45px;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    .hash {
      font-size: 1rem;
      color: var(--text);
      margin-left: 0.5rem;
      transition: all 400ms ease;

      &:hover {
        color: var(--white);
      }
    }

    .name {
      color: var(--text);
      font-weight: 400;
      margin: 0 0 25px;
    }

    .converters {
      .converter {
        background-color: var(--background);
        padding: 25px;
        margin-bottom: 25px;
        border-radius: 8px;
        border: 1px solid var(--background);
        transition: border-color 400ms ease;
        position: relative;

        &.active {
          border-color: var(--text);
        }

        &:last-child {
          margin-bottom: 0;
        }

        .title {
          color: var(--text);
          font-weight: 300;
          font-size: 16px;
          margin: 0 0 15px;
          line-height: 1.5;
        }
      }
    }

    .anchor {
      display: block;
      position: absolute;
      visibility: hidden;
      top: -85px;

      @media (min-width: 992px) {
        top: -25px;
      }
    }
  }
}
