.converter {
  display: initial;

  .form {
    display: flex;
    flex-direction: column;

    .label {
      margin-bottom: 4px;
      font-size: 10px;
      color: var(--text);
      font-weight: 300;
      line-height: 1;
      display: inline-block;
    }

    .field {
      border-radius: 8px;
      background-color: var(--body);
      margin-bottom: 4px;
      border: none;
      padding: 10px 15px;
      color: var(--text);
      font-weight: 300;
      flex: 1;

      &:focus {
        border: none;
        outline: none;
      }
    }

    .error {
      color: #d9534f;
      font-size: 10px;
    }
  }

  .result {
    color: var(--text);
    margin-top: 10px;
    display: flex;

    strong {
      margin-right: 5px;
    }

    .copy {
      display: none;
      margin-left: 10px;

      &.active {
        display: block;
      }

      path {
        fill: var(--text);
      }
    }
  }

  .buttons {
    display: flex;
    margin-top: 10px;
    align-items: center;

    .button {
      border: 1px solid var(--link);
      color: var(--link);
      font-size: 12px;
      padding: 8px 14px;
      border-radius: 4px;
      background-color: transparent;
      outline: none;
      transition: all 200ms ease;
      cursor: pointer;
      display: none;

      &:hover {
        background-color: var(--link);
        color: var(--text);
      }

      &:first-child {
        margin-right: 10px;
      }

      &.active {
        display: block;
      }

      &.white:hover {
        color: var(--navigation);
      }
    }
  }
}
