.error {
  color: #d9534f;
  font-size: 0.625rem;
}

.buttons {
  display: flex;
  margin-top: 10px;
  align-items: center;

  .button {
    border: 1px solid var(--link);
    color: var(--link);
    font-size: 12px;
    padding: 8px 14px;
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    transition: all 200ms ease;
    cursor: pointer;

    &:hover {
      background-color: var(--link);
      color: var(--text);
    }

    &:first-child {
      margin-right: 10px;
    }

    &.white:hover {
      color: var(--navigation);
    }
  }
}
