.container {
  display: flex;
  flex-direction: column;
  padding: 25px;

  .name {
    color: var(--text);
    font-weight: 400;
    margin: 0 0 25px;
  }

  .wrapper {
    background-color: var(--background);
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 8px;
    border: 1px solid var(--background);
    transition: border-color 400ms ease;
    position: relative;


    &.active {
      border-color: var(--text);
    }

    &:last-child {
      margin-bottom: 0;
    }

    .title {
      color: var(--text);
      font-weight: 300;
      font-size: 16px;
      margin: 0 0 15px;
      line-height: 1.5;
    }

    .sign {
      display: initial;
    
      .form {
        display: flex;
        flex-direction: column;
    
        .label {
          margin-bottom: 4px;
          font-size: 10px;
          color: var(--dark);
          font-weight: 300;
          line-height: 1;
          display: inline-block;
        }
    
        .field {
          border-radius: 8px;
          background-color: var(--body);
          margin-bottom: 4px;
          border: none;
          padding: 10px 15px;
          color: var(--text);
          font-weight: 300;
          flex: 1;
    
          &:focus {
            border: none;
            outline: none;
          }
        }

        textarea.field {
          resize: vertical;
          flex: none;
          min-height: 45px;
          overflow-y: hidden;
        }
    
        .error {
          color: #d9534f;
          font-size: 10px;
        }
      }
    
      .result {
        color: var(--text);
        margin-top: 10px;
        display: flex;
        align-items: center;
    
        strong {
          margin-right: 5px;
        }
    
        .value {
          max-width: 100%;
          word-break: break-all;
        }
    
        .copy {
          margin-left: 10px;
    
          path {
            fill: var(--text);
          }
        }
      }

      .resultPayload {
        color: var(--text);
        margin-top: 10px;
        display: flex;
        flex-direction: column;

        strong {
          margin-right: 5px;
        }

        .value {
          max-width: 100%;
          word-break: break-all;
          position: relative;
        }

        .copy {
          margin-left: 10px;
          position: absolute;
          bottom: 0.5rem;
          right: 0.5rem;

          path {
            fill: var(--text);
          }
        }

        .code {
          display: flex;
          align-items: center;
          justify-content: space-between;


          pre {
            width: 100%;
            border: 1px solid black;
            background-color: var(--body);
            border-radius: 8px;
            float: left;
            justify-content: center;
            box-sizing: border-box;
            overflow: auto;
            padding: 5px;
          }
          code {
            display: inline-block;
          }
        }
      }
    
      .buttons {
        display: flex;
        margin-top: 10px;
        align-items: center;
    
        .button {
          border: 1px solid var(--link);
          color: var(--link);
          font-size: 12px;
          padding: 8px 14px;
          border-radius: 4px;
          background-color: transparent;
          outline: none;
          transition: all 400ms ease;
          cursor: pointer;
    
          &:hover {
            color: var(--black);
            background-color: var(--link);
          }
    
          &:first-child {
            margin-right: 10px;
          }
    
          &.white:hover {
            color: var(--navigation);
          }
        }
      }
    }
  }

}