.home {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 30px;
  max-width: 850px;
  color: var(--text);
  margin: 0 auto;
  line-height: 1.5;
}

.title {
  user-select: none;
}

.description {
  user-select: none;
}
