.environment {
  margin-left: 0.5rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1rem;

  .control {
    background-color: transparent;
    border: none;
    min-height: auto;
    cursor: pointer;
    box-shadow: none;
    display: flex;
    flex-wrap: nowrap;

    &:hover,
    &:focus,
    &:active {
      border: none;
      outline: none;
      box-shadow: none;
    }

    .container {
      background-color: var(--header);
      padding: 0.5rem;
      border-radius: 0.25rem;
      font-size: 1rem;
      min-width: 5rem;
      text-align: center;

      .value {
        color: var(--text);
        font-size: 1rem;
        margin: 0;
      }
    }

    .indicator {
      font-size: 1rem;
      margin-left: 0.25rem;
    }
  }

  .menu {
    margin-top: 0.25rem;
    font-size: 1rem;
    width: auto;
    background: var(--header);
    border-radius: 0.25rem;
    box-shadow: none;
    overflow: hidden;

    .list {
      padding: 0;

      .option {
        padding: 0.5rem;
        color: var(--text);
        line-height: 1;
        background-color: transparent;
        cursor: pointer;
        min-width: 5rem;
        text-align: center;

        &:hover,
        &:focus,
        &:active,
        &.selected {
          color: var(--body);
          background-color: var(--link);
        }
      }
    }
  }
}
