.template {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  overflow: scroll;
  height: 100vh;

  @media (min-width: 992px) {
    height: calc(100vh - 60px);
    flex-direction: row;
  }

  .navigation {
    position: fixed;
    width: 100%;
    transition: right 400ms ease;
    right: 100%;
    background-color: var(--navigation);
    top: 60px;
    overflow-y: scroll;
    height: 100%;
    z-index: 1;

    @media (min-width: 992px) {
      width: 25%;
      position: relative;
      top: 0;
      right: auto;
    }

    @media (min-width: 1440px) {
      width: 20%;
    }

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--link);
      border-radius: 10px;
    }

    &.active {
      right: 0;
    }

    .menu {
      margin: 0;
      line-height: 1;
      font-weight: 500;
      color: var(--dark);
      padding: 25px 25px 10px;
      font-size: 10px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    .pages {
      margin: 0;
      padding: 0;
      list-style: none;

      .page {
        transition: all 400ms ease;

        &.tester {
          display: inline;
        }

        &.active,
        &:hover {
          .item {
            background-color: var(--background);

            &:before {
              background-color: var(--link);
            }

            .path {
              color: var(--link);
            }

            .trigger {
              &:before {
                background-color: var(--link);
              }

              svg path {
                fill: var(--link);
              }
            }
          }
        }

        .item {
          display: flex;
          align-items: stretch;
          transition: all 400ms ease;
          position: relative;

          &:before {
            width: 3px;
            left: 0;
            position: absolute;
            content: '';
            top: 0;
            bottom: 0;
            transition: all 400ms ease;
            background-color: transparent;
          }

          .path {
            padding: 25px;
            flex: 1;
            color: var(--text);
            text-decoration: none;
            display: flex;
            transition: all 400ms ease;
            align-items: center;

            .icon {
              margin-right: 15px;
              height: 15px;
              width: 15px;
            }

            .title {
              font-size: 14px;
            }
          }

          .trigger {
            padding: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            cursor: pointer;

            &:before {
              width: 1px;
              top: 15px;
              bottom: 15px;
              right: 100%;
              content: '';
              position: absolute;
              background-color: var(--dark);
            }

            .caret {
              transform: rotateZ(0deg);
              transition: all 400ms ease;

              &.active {
                transform: rotateZ(180deg);
              }

              path {
                fill: var(--dark);
              }
            }
          }
        }

        .list {
          max-height: 0px;
          overflow: hidden;
          transition: max-height 0.8s cubic-bezier(0, 1, 0, 1) -0.1s;
          padding: 0;
          background-color: var(--background);
          list-style: none;
          position: relative;

          &:before {
            width: 3px;
            left: 0;
            position: absolute;
            content: '';
            top: 0;
            bottom: 0;
            background-color: var(--link);
          }

          &.active {
            max-height: 9999px;
            transition-timing-function: cubic-bezier(0.5, 0, 1, 0);
            transition-delay: 0s;
          }

          .category {
            margin: 0 55px 15px;

            &:last-child {
              margin-bottom: 0;
              padding-bottom: 25px;
            }

            .name {
              font-size: 14px;
              position: relative;
              text-decoration: none;
              margin: 10px 0;
              display: inline-block;
              transition: all 400ms ease;
              color: var(--text);

              &:before {
                right: calc(100% + 15px);
                height: 5px;
                width: 5px;
                content: '';
                position: absolute;
                background-color: var(--text);
                top: 50%;
                transition: all 400ms ease;
                transform: translateY(-50%);
              }

              &.active,
              &:hover {
                color: var(--link);

                &:before {
                  background-color: var(--link);
                }
              }
            }

            .converters {
              list-style: none;
              padding-left: 15px;

              .converter {
                &:not(:last-child) {
                  margin-bottom: 5px;
                }

                .text {
                  font-size: 12px;
                  text-decoration: none;
                  position: relative;
                  color: var(--text);
                  line-height: 1.5;
                  display: inline-block;
                  transition: all 400ms ease;

                  &:before {
                    right: calc(100% + 10px);
                    height: 1px;
                    width: 5px;
                    content: '';
                    position: absolute;
                    background-color: var(--text);
                    top: 50%;
                    transition: all 400ms ease;
                    transform: translateY(-50%);
                  }

                  &.active,
                  &:hover {
                    color: var(--link);

                    &:before {
                      background-color: var(--link);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .content {
    margin-top: 60px;
    display: flex;
    flex: 1;

    @media (min-width: 992px) {
      height: 100%;
      overflow: scroll;
      margin-top: 0;
      flex: 1;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      flex: 1;

      @media (min-width: 1440px) {
        max-width: 75%;
      }
    }
  }
}
