.codeMetadata {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  color: var(--text);
  padding: 0.5rem 0.25rem;


  @media (min-width: 576px) {
    flex-direction: row;
    gap: 1rem;
  }

  .container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    &:hover input ~ .checkmark {
      background-color: var(--text);
    }

    input:checked ~ .checkmark {
      background-color: var(--link);
    }

    input:checked ~ .checkmark:after {
      display: block;
    }

    .checkmark:after {
      left: 5px;
      top: 0px;
      width: 5px;
      height: 10px;
      border: solid var(--body);
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
}