* {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 16px;
}

body {
  line-height: 1;
  overflow: hidden;
}

main {
  &.light {
    --body: #e7ebf7;
    --navigation: #ffffff;
    --text: #000000;
    --dark: #000000;
    --link: #1b4cd9;
    --background: #ffffff;
  }

  &.dark {
    --body: #18191a;
    --navigation: #242526;
    --text: #b0b3b8;
    --dark: #4e5052;
    --link: #1b4cd9;
    --background: #2a2a2b;
  }
}

main {
  background-color: var(--body);
}
