/* Bootstrap overrides
-------------------------------------------------- */

$body: #000;
$headings-font-weight: 300 !important;
$primary: #1b46c2;
$light: #fafafa;

$headings-font-weight: 300 !important;
$a: #1392ff;

* {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 16px;
}

body {
  background-color: #18191a;
  line-height: 1;
  overflow: hidden;
}
