* {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

*::selection {
  background: rgba(212, 212, 212, 0.3);
}

// webkit being webkit
input {
  color-scheme: dark;
  font-feature-settings: 'calt' 0;
}
input:is(:-webkit-autofill, :-webkit-autofill:focus) {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

html {
  font-size: 16px;
}

body {
  line-height: 1;
  overflow: hidden;
  background-color: var(--body);

  // Neutral Colors
  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
  --neutral-300: #d4d4d4;
  --neutral-400: #a3a3a3;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #404040;
  --neutral-800: #262626;
  --neutral-900: #171717;
  --neutral-950: #121212;
  // Primary Colors
  --primary-100: #ccfbf1;
  --primary-200: #99f6e4;
  --primary-300: #5eead4;
  --primary-400: #23f7dd;
  --primary-500: #0ac2ae;
  --primary-600: #099887;
  --primary-700: #0d786c;
  --primary-800: #115e55;
  --primary-900: #134e48;

  --yellow-500: #eab308;

  --white: #ffffff;
  --body: #18191a;
  --navigation: #242526;
  --header: #333;
  --text: #e4e6eb;
  --dark: #b0b3b8;
  --link: var(--primary-400);
  --background: #2a2a2b;
  --black: #000000;
  --danger: #d9534f;

  // Temporary in order to avoid interferences from other pacages
  --primary: var(--primary-400);
  --primary-light: var(--primary-300);
  --border-color: #dee2e6;
  --light: #fafafa;
  --secondary: #6c757d;
  --card-bg: #ffffff;
  --warning: #ffc107;
  --btn-blue: #163aa0;
  --brown: #212529;
  --link-hover-color: var(--priumary-700);
}

.dapp-core-component__trim-styles__trim.overflow {
  .dapp-core-component__trim-styles__ellipsis {
    display: unset;
  }
}

.modal {
  .dapp-core-component__main__card {
    margin: 0;
    border: none;
    background: transparent;

    .dapp-core-component__main__card-body {
      padding: 0;
    }
  }

  .dapp-core-component__progressBarStyles__ledger-progress-bar {
    width: 250px;
  }
}

.modal-backdrop {
  --backdrop-zindex: 15;
  --backdrop-bg: var(--background);
  --backdrop-opacity: 0.75;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--backdrop-zindex);
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop-bg);
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: var(--backdrop-opacity);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  outline: 0;
}

#dapp-modal {
  z-index: 2023;
  width: calc(100% - 3rem);
  background: transparent;
  padding: 1.5rem;

  .dapp-modal-dialog-content {
    background-color: var(--body);
    box-shadow: 0.25rem 0.25rem 1rem 0.5rem var(--body);
    border-radius: 1rem;
    position: relative;
    max-width: 30rem;
    color: var(--text);
    z-index: 2000;
    border: 1px solid var(--background);

    .dapp-modal-dialog-header {
      background: transparent;
      padding: 0;
      font-size: 2rem;
      font-weight: 600;
      display: flex;
      margin-bottom: 2rem;
      align-items: center;
      justify-content: space-between;

      .dapp-core-component__dappModalStyles__dappModalHeaderText {
        padding: 0;
      }

      .dapp-modal-dialog-close-button {
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
        border: 1px solid var(--background);
        cursor: pointer;
        transition: all 400ms ease !important;
        position: relative;
        color: var(--text);
        background: transparent;
        font-size: 1rem;
        padding: 0;

        &:hover {
          background-color: var(--background);
        }

        svg {
          font-size: 1rem;
          height: 1rem;
        }
      }
    }

    .dapp-core-component__signWithDeviceModalStyles__spaced {
      padding: 0 !important;
    }

    .dapp-modal-dialog-content-body {
      padding: 0;

      .dapp-core-component__main__card {
        margin: 0;
        border: none;
        background: transparent;

        .dapp-core-component__main__card-body {
          padding: 0;
        }
      }

      .dapp-core-component__main__qr-code-svg-container {
        & + .dapp-core-component__main__h4 {
          margin-top: 1rem;
          line-height: 1;

          & + .dapp-core-component__main__lead {
            line-height: 1;
            font-size: 1rem;
            margin: 0;
          }
        }
      }
    }
  }
}

@import './plugins/sdk-sc-explorer/sdk-sc-explorer.scss';
